#div1{
    background-color: white;
    border-radius:100px;
    margin-left: 400px;
    margin-right: 470px;
    margin-bottom: 100px;
}

#name1{
    width: 300px;
}

#name2{
    width: 300px;
}

#number1div{
    background-color: white;
    border-radius:100px;
    margin-left: 400px;
    margin-right: 470px;
    margin-bottom: 100px;
}


#number2div{
    background-color: white;
    border-radius:100px;
    margin-left: 400px;
    margin-right: 470px;
    margin-bottom: 100px;
}

#firstinp{
    width: 300px;
}

#secinp{
    width: 300px;
}